// Configuração MQTT
// Quando terminar de colocar sua informações, renomeie o arquivo para "script.js"

broker_url = 'suaUrl:porta/mqtt',
mqtt_username = 'seuUser'
mqtt_password = 'suaSenha'
mqtt_clientId = 'seuID' + Math.random().toString(16).substr(2, 8)